# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Environments
.venv/
venv/
env/
/.hf_home/
/.hf_lerobot/

# Logs and local outputs
*.log
outputs/
runs/
wandb/
*.zip
scripts/deploy/train_log/
train_log
# Large local assets
/Data/
/Model/
/data/
/models/
/checkpoints/

# System/editor files
.DS_Store
.vscode/
.idea/
